.muc1{
	background-color: #ff5050;
}
.img1{
	float: left;
	padding-right: 10px;
}
.text1{
	color: white;
}
.clearfix{
	clear: both;
}
.img2{
	height: 50px;
}
.search{
	padding-top: 30px;
}
.box .container-4{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.box input#search{
	height: 40px;
	width: 300px;
	color: #808080;
	padding-right: 40px;
	padding-left: 15px;
}
.container-4 .icon i{
	font-size: 25px;
	position: absolute;
	right: 130px;
	top:7px;
	color: #808080;
}
.img3{
	float:left;
	padding-right: 5px;
}
.text2 a{
	text-decoration: none;
	color: #808080;
}
.contact{
	padding-top: 40px;
}
.menu{
	margin-top: 30px;
	border-top: 1px groove black;
	border-bottom: 1px groove black; 
	height: 45px;
}
.menu a{
	text-decoration: none;
	color: black;
}
.menu .menu1{
	padding-left: 0px;
}
.menu .menu1 li{
	text-align: center;
	float: left;
	list-style-type: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.menu .menu1 li:hover{
	background-color: #ff5050;
}
.menu .menu1 li:hover a{
	color: white;
}
.item ul li{
	float: right;
	list-style-type: none;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
.item{
	margin-top: -9px;
}
.item1 img{
	position: relative; 
}
.menu1 .mn a{
	color: #ff5050;
}
.buy{
	position: absolute;
	right: 165px;
	top:137px;
}

.muc5{
	background-color: #ff5050;
	padding-top: 50px;
	padding-bottom: 50px; 
}
.muc5 .img36 img{
	width: 100%;
	float: left;
}
.text36{
	float: left;
	color: white;
	padding-top: 45px;
}
.img37{
	float: left;
	padding-right: 10px;
}
.text37 a{
	text-decoration: none;
	color: white;
	display: table;
}
.text37{
	padding-top: 20px;
}
.img40{
	padding-top: 20px;
}
.img40 a{
	float: left;
	padding-right: 5px;
}
.text37 p{
	color: white;
}
.text37 input#text38{
	width: 100%;
	height: 40px;
	text-align: center;
	border: none;
}
.text37 input#text39{
	width: 100%;
	height: 40px;
	margin-top: 5px;
	background-color: #cc0000;
	border: none;
}
.text37 img{
	width: 100%;
}
.menu2{
	padding-top: 20px;
	padding-bottom: 20px;
}
.menu2 a{
	color: black;
	text-decoration: none;
}
.menu2 img{
	padding-right: 5px;
	padding-left: 5px;
}
.text46{
	background-color: #e6e6e6;
	padding-bottom: 20px;
	padding-left :20px;
}
.text46 img{
	float: left;
	padding-right: 10px;
}
.text46 a{
	color: black;
	text-decoration: none;
}
.text47{
	padding-top: 10px;
}
.text46 p{
	text-align: center;
	padding-top: 20px;
}
.muc5{
	margin-top: 20px;
}
.text51{
	padding-bottom: 20px;
}
.text51 img{
	width: 100%;
	padding-bottom: 15px;
}
.text51 a{
	color: black;
	text-decoration: none;
	font-size: 25px;
}
.text51 p{
	padding-top: 10px;
}
.text55 a{
	float: left;
	border: 1px solid #cccccc;
	padding: 1px 5px 1px 5px;
	color: black;
	text-decoration: none;
	margin:5px;
	border-radius: 3px;
}
.text55 p{
	float: left;
	padding-top: 5px;
}
.text55-1 a{
	background-color: #ff5050;
	color: white;
}
.text55-2 a{
	color:  #ff5050;
}
.text55 a:hover{
	background-color: #ff5050;
	color: white;
}


